#cta-index button, #entrar button {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 20px; }

#cta-index button:active, #entrar button:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#cta-index button:focus, #entrar button:focus {
  outline: none; }

/* FOOTER */
#footer-menu {
  background-color: #266ab8;
  padding-top: 30px; }
  #footer-menu .footer-item {
    padding-bottom: 30px;
    text-align: left; }
  #footer-menu p, #footer-menu a {
    color: #FFF; }
  #footer-menu ul {
    padding-left: 0; }
  #footer-menu a p:hover, #footer-menu a:hover {
    color: #2ba7e7; }
  @media only screen and (max-width: 768px) {
    #footer-menu .footer-item {
      text-align: center; } }

#logo-footer {
  width: 70%; }
  @media only screen and (max-width: 768px) {
    #logo-footer {
      width: auto; } }
  @media only screen and (max-width: 480px) {
    #logo-footer {
      width: 100%; } }

.social {
  width: 41px;
  height: 41px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px; }

#twitter {
  margin-left: -41px;
  margin-top: 0;
  width: auto; }

#youtube {
  margin-left: -82px;
  margin-top: 0;
  width: auto; }

#facebook:hover {
  margin-left: 0;
  margin-top: -41px;
  width: auto; }

#twitter:hover {
  margin-left: -41px;
  margin-top: -41px;
  width: auto; }

#youtube:hover {
  margin-left: -82px;
  margin-top: -41px;
  width: auto; }

#copyright {
  background-color: #1c4d83;
  padding: 15px 0; }

.onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
  height: 40px; }
  @media only screen and (max-width: 1900px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 20px; } }
  @media only screen and (max-width: 1000px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 10px; } }
  @media only screen and (max-width: 480px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 5px; } }

/* CONTENT */
.onda-azul-top {
  background-image: url("img/onda-azul-top.svg"); }

.onda-laranja-top {
  background-image: url("img/onda-laranja-top.svg"); }

.onda-azul-bottom {
  background-image: url("img/onda-azul-bottom.svg"); }

.onda-laranja-bottom {
  background-image: url("img/onda-laranja-bottom.svg"); }

#cta-index {
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  z-index: 0; }
  #cta-index #img-cta-index-bg {
    width: 100% !important;
    margin: 0 !important;
    position: absolute;
    left: 0;
    z-index: -1; }
  #cta-index h1 {
    margin-bottom: 30px;
    width: 100%; }
  #cta-index button {
    color: #fff;
    background-color: #e07b4d;
    border-color: #c05527; }
  #cta-index button:hover {
    background-color: #f1a581;
    border-color: #e07b4d; }
  #cta-index button:active {
    background-color: #e07b4d; }
  #cta-index button {
    margin-bottom: 30px; }
  #cta-index img, #cta-index video, #cta-index iframe {
    width: 50%;
    height: auto;
    min-height: 337.5px;
    margin: 0 25% 30px;
    cursor: pointer; }
    @media only screen and (max-width: 992px) {
      #cta-index img, #cta-index video, #cta-index iframe {
        width: 70%;
        margin: 0 15% 30px; } }
    @media only screen and (max-width: 768px) {
      #cta-index img, #cta-index video, #cta-index iframe {
        width: 80%;
        margin: 0 10% 30px;
        min-height: 345.6px; } }
    @media only screen and (max-width: 480px) {
      #cta-index img, #cta-index video, #cta-index iframe {
        min-height: 216px; } }
    @media only screen and (max-width: 300px) {
      #cta-index img, #cta-index video, #cta-index iframe {
        min-height: 135px; } }

.content-block {
  padding-top: 30px;
  padding-bottom: 30px; }
  .content-block .text-block {
    text-align: left; }
  .content-block img {
    width: 100%;
    max-width: 360px; }
  .content-block h4, .content-block h4 a {
    color: #727272; }
  .content-block h4 a:hover {
    color: #c05527; }
  @media only screen and (max-width: 768px) {
    .content-block .text-block {
      text-align: center; } }

.sub-block {
  padding-top: 0px !important; }

.orange-block {
  background-color: #e07b4d; }
  .orange-block h1, .orange-block h2, .orange-block h3, .orange-block label, .orange-block h4, .orange-block h4 a, .orange-block p {
    color: #FFF !important; }
  .orange-block h4 a:hover {
    color: #c05527; }
  @media only screen and (max-width: 768px) {
    .orange-block .text-block {
      text-align: center; } }

.blue-block {
  background-color: #266ab8; }
  .blue-block h1, .blue-block p, .blue-block ul {
    color: #FFF; }
  .blue-block ul, .blue-block li {
    padding: 15px;
    list-style: disc; }
    @media screen and (max-width: 768px) {
      .blue-block ul, .blue-block li {
        text-align: left; } }

.social-equipe {
  width: 38px;
  height: 38px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px; }

#mail-equipe {
  margin-left: 0;
  margin-top: 0;
  width: auto; }

#facebook-equipe {
  margin-left: -38px;
  margin-top: 0;
  width: auto; }

#twitter-equipe {
  margin-left: -76px;
  margin-top: 0;
  width: auto; }

#linkedin-equipe {
  margin-left: -114px;
  margin-top: 0;
  width: auto; }

#mail-equipe:hover {
  margin-left: 0;
  margin-top: -38px;
  width: auto; }

#facebook-equipe:hover {
  margin-left: -38px;
  margin-top: -38px;
  width: auto; }

#twitter-equipe:hover {
  margin-left: -76px;
  margin-top: -38px;
  width: auto; }

#linkedin-equipe:hover {
  margin-left: -114px;
  margin-top: -38px;
  width: auto; }

.personagem img {
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 768px) {
    .personagem img {
      width: 60%; } }
  @media only screen and (max-width: 480px) {
    .personagem img {
      width: 100%; } }

.personagem-bio {
  text-align: left;
  height: 310px; }
  @media only screen and (max-width: 992px) {
    .personagem-bio {
      height: 380px; } }
  @media only screen and (max-width: 768px) {
    .personagem-bio {
      text-align: center;
      height: auto; } }

.equipe {
  height: 600px;
  margin-bottom: 20px; }
  .equipe img {
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 768px) {
      .equipe img {
        width: 80%; } }
    @media only screen and (max-width: 480px) {
      .equipe img {
        width: 100%; } }
  .equipe .equipe-block {
    border-bottom: 1px solid #c0c0c0; }
  @media only screen and (max-width: 992px) {
    .equipe {
      height: 630px; } }

#erro404 {
  height: 600px;
  padding-top: 280px; }

#entrar {
  margin: 30px 0; }
  #entrar button {
    color: #fff;
    background-color: #e07b4d;
    border-color: #c05527; }
  #entrar button:hover {
    background-color: #f1a581;
    border-color: #e07b4d; }
  #entrar button:active {
    background-color: #e07b4d; }
  #entrar button {
    width: 33.3%;
    margin-left: 66.6%; }
    @media only screen and (max-width: 768px) {
      #entrar button {
        width: 90%;
        margin-left: 5%; } }

@media only screen and (max-width: 992px) {
  .img-block {
    padding-top: 60px; } }

/*# sourceMappingURL=content-block.css.map */
