*.log
sitemap.xml
sitemap.xml.gz
*.htaccess
*.scss
*.map
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/uploads/
game/
jogar/
wiki/
wp-content/themes/dedig/node_modules/
wp-content/themes/dedig/sass/
wp-content/themes/dedig/js/functions.js
wp-content/themes/dedig/Gruntfile.js
wp-content/themes/dedig/package.json
wp-content/themes/dedig/.sass-cache/
guide/
