//CORES

$azulclaro: #2ba7e7;
$azul: #266ab8;
$azulescuro: #1c4d83;
$laranjaclaro: #f1a581;
$laranja: #e07b4d;
$laranjaescuro: #c05527;
$cinzaclaro: #c0c0c0;
$cinza: #727272;
$cinzaescuro: #434343;
$branco: #FFF;
$preto: #000;

// RESPONSIVIDADE (Bootstrap)

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;