// PLACEHOLDERS

%button-inactive {
	font-weight: normal;
	border-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

%button-active {
	margin-top: 3px;
	padding-bottom: 19px;
	border: none;
}

%button-focus {
	outline: none;
}

// MIXINS

@mixin btn($claro, $normal, $escuro, $padding-in: 20px, $padding-ac: 20px 20px 19px, $font: #fff) {
	button {
		@extend %button-inactive;
		color: $font;
		background-color: $normal;
		border-color: $escuro;
		padding: $padding-in;
	}

	button:hover {
		background-color: $claro;
		border-color: $normal;
	}

	button:active {
		@extend %button-active;
		background-color: $normal;
		padding: $padding-ac !important;
	}

	button:focus {
		@extend %button-focus;
	}
}

@mixin submit($claro, $normal, $escuro, $padding-in: 20px, $padding-ac: 20px 20px 19px, $font: #fff) {
	input[type=submit] {
		@extend %button-inactive;
		color: $font;
		background-color: $normal;
		border-color: $escuro;
		padding: $padding-in;
	}

	input[type=submit]:hover {
		background-color: $claro;
		border-color: $normal;
	}

	input[type=submit]:active {
		@extend %button-active;
		background-color: $normal;
		padding: $padding-ac !important;
	}

	input[type=submit]:focus {
		@extend %button-focus;
	}
}