@import 'attr.scss';
@import 'button.scss';

.form {
	padding: 100px 0;
	text-align: left;

	input, textarea {
		width: 100%;
		margin-bottom: 15px;
		padding: 10px;
		border: solid 1px $laranjaescuro;
	}

	input:focus, textarea:focus {
		outline: none;
		background-color: #eeeebb;
	}

	input[type=submit] {
		width: 34%;
	}
	
	@include submit($azulclaro, $azul, $azulescuro);
	
	@media only screen and (max-width: $screen-md-min) {
		padding: 50px 0 0;
	}

	@media only screen and (max-width: $screen-sm-min) {
		text-align: center;
	}
}

#contato-sidebar {
	padding: 100px 0;

	img {
		padding: 30px 0;
	}
	h4 {
		font-size: 1.7em;
	}

	@media only screen and (max-width: $screen-md-min) {
		padding: 50px 0;
	}
}