@import 'attr.scss';

/* FONTS */

$varela: 'Varela Round', Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;

// PLACEHOLDERS

%headerFonts {
	font-family: $varela;
	font-weight: bold;
}

%smallFonts {
	@media only screen and (max-width: $screen-md-min) {
		font-size: 1.5em;
	}
	@media screen and (max-width: $screen-sm-min) {
		font-size: 1.5em;
	}
}

// MIXINS

@mixin font ($size-lg, $color) {
	font-size: $size-lg;
	color: $color;
}

@mixin responsiveFonts ($size-md, $size-sm) {
	@media only screen and (max-width: $screen-md-min) {
		font-size: $size-md;
	}
	@media screen and (max-width: $screen-sm-min) {
		font-size: $size-sm;
	}
}

// CSS

h1 {
	@extend %headerFonts;
	@include font(2.6em, $azul); // lg
	@include responsiveFonts(2.2em, 2.2em); // md, sm
}

h2, button {
	@extend %headerFonts;
	@extend %smallFonts;
	@include font(1.8em, $laranja);
}

h3, label {
	@extend %headerFonts;
	@extend %smallFonts;
	@include font(1.8em, $azulclaro);
}

h4 {
	@extend %headerFonts;
	@extend %smallFonts;
	@include font(1.8em, $branco);
}

p, input, textarea {
	font-family: $opensans;
	@extend %smallFonts;
	@include font(1.5em, $cinza);
}

footer p {
	@include font(1.2em, $branco);
	@include responsiveFonts(1.2em, 1.5em);
}

#buttons h2 {
	@include font(1.5em, $branco);
	@include responsiveFonts(1.5em, 1.5em);
}

#cta-index h1 {
	@include font(2em, $azul);
}

.blue-block {
	ul, li {
		font-family: $opensans;
		@include font(2.1rem, $branco);
		@include responsiveFonts(1.8rem, 1.8rem);
	}
}

.banner h1 {
	@include font(3rem, $branco);
	@include responsiveFonts(2.4rem, 1.2rem);
}

.minor-text {
	@include font(1.2rem, $branco);
	@include responsiveFonts(1rem, 1rem);
}

.major-text {
	@include font(2.4rem, $cinza);
	@include responsiveFonts(2rem, 2rem);
}