@import 'attr.scss';

.pagination {
	text-align: left;
	width: 100%;
	background-color: #ddd;
	padding: 10px 34.922%;

	a {
		display: inline-block;
		background-color: $cinzaclaro;
		padding: 5px 8px;
		margin: 0 1px 1px 0;
		float: left;

		p {
			margin: 0;
		}
	}

	.current {
		background-color: $laranja;

		p {
			color: $branco;
		}
	}

	.current:hover, .current:active {
		background-color: $laranjaescuro;
	}

	a:hover {
		background-color: $azul;

		p, strong {
			color: $branco;
		}
	}

	a:active {
		background-color: $azulescuro;

		p, strong {
			color: $branco;
		}
	}

	@media only screen and (max-width: $screen-md-min) {
		padding: 10px 30.315%;
	}

	@media only screen and (max-width: $screen-sm-min) {
		padding: 10px 29.5%;
		background-color: #fff;
		text-align: center;
	}

	@media only screen and (max-width: 700px) {
		padding: 10px 20%;
	}

	@media only screen and (max-width: $screen-xs-max) {
		padding: 10px 12%;
	}
}