@import 'attr.scss';

/* RESET */

// PLACEHOLDERS

%reset {
	border: 0 none;
	margin: 0;
	color: $cinza;
	text-decoration: none;
	list-style: none;
}

// CSS

* {
	@extend %reset;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background-color: $branco;
	overflow-x: hidden;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}