@import 'attr.scss';

/* SLIDER */

// MIXINS

@mixin inverseMargin($h) {
	height: $h;
	margin-top: -$h;
}

// CSS

#slider {
	width: 100%;
	overflow: hidden;
}

#slidesContainer {
	width: 300%;
	height: auto;
	margin-left: 0;
}

.banner {
	width: 33.3333%;
	float: left;
	display: inline;

	img {
		width: 100%;
		height: auto;
	}

	h1 {
		@include inverseMargin(60px);
		color: $branco;
		z-index: 1;
		width: 100%;
		padding: 0;
		margin-bottom: 0;
		text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

		@media only screen and (max-width: $screen-md-min) {
			@include inverseMargin(50px);
		}

		@media only screen and (max-width: $screen-sm-min) {
			width: 100%;
			padding-left: 30px;
			text-align: left;
		}
	}
}

#bar {
	width: 100%;
	height: 4px;
	background-color: #999;
	overflow: hidden;
}

#bar-fill {
	width: 100%;
	height: 100%;
	background-color: $laranja;
}

#dots {
	padding-top: 30px;
}

.slider-dots {
	background-color: $cinzaclaro;
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 7px;
}