#jogoBtn button, #tryBtn button, #entrar button, .form input[type=submit], .login-box input[type=submit] {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

#jogoBtn button:active, #tryBtn button:active, #entrar button:active, .form input[type=submit]:active, .login-box input[type=submit]:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#jogoBtn button:focus, #tryBtn button:focus, #entrar button:focus, .form input[type=submit]:focus, .login-box input[type=submit]:focus {
  outline: none; }

/* FONTS */
h1, h2, button, h3, label, h4 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-weight: bold; }

@media only screen and (max-width: 992px) {
  h2, button, h3, label, h4, p, input, textarea {
    font-size: 1.5em; } }
@media screen and (max-width: 768px) {
  h2, button, h3, label, h4, p, input, textarea {
    font-size: 1.5em; } }

h1 {
  font-size: 2.6em;
  color: #266ab8; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 2.2em; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.2em; } }

h2, button {
  font-size: 1.8em;
  color: #e07b4d; }

h3, label {
  font-size: 1.8em;
  color: #2ba7e7; }

h4 {
  font-size: 1.8em;
  color: #FFF; }

p, input, textarea {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #727272; }

footer p {
  font-size: 1.2em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    footer p {
      font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    footer p {
      font-size: 1.5em; } }

#buttons h2 {
  font-size: 1.5em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    #buttons h2 {
      font-size: 1.3em; } }
  @media screen and (max-width: 768px) {
    #buttons h2 {
      font-size: 1.2em; } }

#cta-index h1 {
  font-size: 2em;
  color: #266ab8; }

.blue-block ul, .blue-block li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .blue-block ul, .blue-block li {
      font-size: 1.8rem; } }
  @media screen and (max-width: 768px) {
    .blue-block ul, .blue-block li {
      font-size: 1.8rem; } }

.banner h1 {
  font-size: 3rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .banner h1 {
      font-size: 2.4rem; } }
  @media screen and (max-width: 768px) {
    .banner h1 {
      font-size: 2rem; } }

.minor-text {
  font-size: 1.2rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .minor-text {
      font-size: 1rem; } }
  @media screen and (max-width: 768px) {
    .minor-text {
      font-size: 1rem; } }

.major-text {
  font-size: 2.4rem;
  color: #727272; }
  @media only screen and (max-width: 992px) {
    .major-text {
      font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .major-text {
      font-size: 2rem; } }

/* RESET */
* {
  border: 0 none;
  margin: 0;
  color: #727272;
  text-decoration: none;
  list-style: none; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  text-align: center;
  background-color: #FFF;
  overflow-x: hidden; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

#jogoBtn button, #tryBtn button, #entrar button, .form input[type=submit], .login-box input[type=submit] {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

#jogoBtn button:active, #tryBtn button:active, #entrar button:active, .form input[type=submit]:active, .login-box input[type=submit]:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#jogoBtn button:focus, #tryBtn button:focus, #entrar button:focus, .form input[type=submit]:focus, .login-box input[type=submit]:focus {
  outline: none; }

/* MAIN MENU */
#main-menu {
  width: 100%;
  height: 115px;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 30px;
  background-color: #266ab8; }
  @media only screen and (max-width: 760px) {
    #main-menu {
      z-index: 2;
      height: 80px;
      padding: 15px; } }

.watermark {
  opacity: 0.3; }

#logo-header {
  float: left;
  height: 50px; }

#list {
  display: none;
  cursor: pointer;
  width: 47px;
  height: 50px;
  overflow: hidden;
  float: right; }
  #list img {
    margin-top: 0; }
  #list img:hover {
    margin-top: -50px; }
  #list img:active {
    margin-top: -100px; }
  #list :hover {
    color: #2ba7e7; }
  #list :active {
    color: #1c4d83; }
  @media only screen and (max-width: 760px) {
    #list {
      display: inline-block; } }

#buttons {
  float: right;
  padding: 17px 0; }
  #buttons h2 {
    font-weight: normal;
    display: inline;
    margin-right: 30px;
    color: #FFF; }
    @media only screen and (max-width: 992px) {
      #buttons h2 {
        margin-right: 15px; } }
  #buttons h2:hover {
    color: #2ba7e7; }
  #buttons h2:active {
    color: #1c4d83; }
  @media only screen and (max-width: 760px) {
    #buttons {
      background-color: #434343;
      float: left;
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      z-index: 1; }
      #buttons h2 {
        display: block;
        margin: 30px 0; }
      #buttons h2:hover {
        color: #f1a581; }
      #buttons h2:active {
        color: #c05527; } }

/* SLIDER */
#slider {
  width: 100%;
  overflow: hidden; }

#slidesContainer {
  width: 300%;
  height: auto;
  margin-left: 0; }

.banner {
  width: 33.3333%;
  float: left;
  display: inline; }
  .banner img {
    width: 100%;
    height: auto; }
  .banner h1 {
    height: 70px;
    margin-top: -70px;
    color: #FFF;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    @media only screen and (max-width: 992px) {
      .banner h1 {
        height: 50px;
        margin-top: -50px; } }
    @media only screen and (max-width: 768px) {
      .banner h1 {
        width: 100%;
        padding-left: 30px; } }

#bar {
  width: 100%;
  height: 4px;
  background-color: #999;
  overflow: hidden; }

#bar-fill {
  width: 100%;
  height: 100%;
  background-color: #e07b4d; }

#dots {
  padding-top: 30px; }

.slider-dots {
  background-color: #c0c0c0;
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 7px; }

#jogoBtn button, #tryBtn button, #entrar button, .form input[type=submit], .login-box input[type=submit] {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

#jogoBtn button:active, #tryBtn button:active, #entrar button:active, .form input[type=submit]:active, .login-box input[type=submit]:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#jogoBtn button:focus, #tryBtn button:focus, #entrar button:focus, .form input[type=submit]:focus, .login-box input[type=submit]:focus {
  outline: none; }

/* FOOTER */
#footer-menu {
  background-color: #266ab8;
  padding-top: 30px; }
  #footer-menu p, #footer-menu a {
    color: #FFF; }
  #footer-menu ul {
    padding-left: 0; }
  #footer-menu a p:hover, #footer-menu a:hover {
    color: #2ba7e7; }

.footer-item {
  padding-bottom: 30px;
  text-align: left; }
  @media only screen and (max-width: 767px) {
    .footer-item {
      text-align: center; } }

#logo-footer {
  width: 70%; }
  @media only screen and (max-width: 767px) {
    #logo-footer {
      width: auto; } }
  @media only screen and (max-width: 480px) {
    #logo-footer {
      width: 100%; } }

.social {
  width: 41px;
  height: 41px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px; }

#twitter {
  margin-left: -41px;
  margin-top: 0;
  width: auto; }

#youtube {
  margin-left: -82px;
  margin-top: 0;
  width: auto; }

#facebook:hover {
  margin-left: 0;
  margin-top: -41px;
  width: auto; }

#twitter:hover {
  margin-left: -41px;
  margin-top: -41px;
  width: auto; }

#youtube:hover {
  margin-left: -82px;
  margin-top: -41px;
  width: auto; }

#copyright {
  background-color: #1c4d83;
  padding: 15px 0; }

.onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
  height: 40px;
  display: none; }
  @media only screen and (max-width: 1900px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 20px; } }
  @media only screen and (max-width: 1000px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 10px; } }
  @media only screen and (max-width: 480px) {
    .onda-azul-top, .onda-laranja-top, .onda-azul-bottom, .onda-laranja-bottom {
      height: 5px; } }

/* CONTENT */
#content {
  min-height: 768px; }

.onda-azul-top {
  background-image: url("img/onda-azul-top.svg"); }

.onda-laranja-top {
  background-image: url("img/onda-laranja-top.svg"); }

.onda-azul-bottom {
  background-image: url("img/onda-azul-bottom.svg"); }

.onda-laranja-bottom {
  background-image: url("img/onda-laranja-bottom.svg"); }

#cta-index, #video-dedig {
  text-align: center !important;
  width: 100%;
  height: auto;
  display: block;
  z-index: 0; }
  #cta-index h1, #video-dedig h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 3em !important; }
  #cta-index img, #cta-index video, #cta-index iframe, #video-dedig img, #video-dedig video, #video-dedig iframe {
    width: 80%;
    height: auto;
    min-height: 540px;
    margin: 0 10% 30px;
    cursor: pointer; }
    @media only screen and (max-width: 992px) {
      #cta-index img, #cta-index video, #cta-index iframe, #video-dedig img, #video-dedig video, #video-dedig iframe {
        width: 70%;
        margin: 0 15% 30px; } }
    @media only screen and (max-width: 768px) {
      #cta-index img, #cta-index video, #cta-index iframe, #video-dedig img, #video-dedig video, #video-dedig iframe {
        width: 80%;
        margin: 0 10% 30px;
        min-height: 345.6px; } }
    @media only screen and (max-width: 480px) {
      #cta-index img, #cta-index video, #cta-index iframe, #video-dedig img, #video-dedig video, #video-dedig iframe {
        min-height: 216px; } }
    @media only screen and (max-width: 300px) {
      #cta-index img, #cta-index video, #cta-index iframe, #video-dedig img, #video-dedig video, #video-dedig iframe {
        min-height: 135px; } }

#jogoBtn button {
  color: #fff;
  background-color: #e07b4d;
  border-color: #c05527;
  padding: 20px; }
#jogoBtn button:hover {
  background-color: #f1a581;
  border-color: #e07b4d; }
#jogoBtn button:active {
  background-color: #e07b4d;
  padding: 20px 20px 19px !important; }
#jogoBtn button {
  margin-bottom: 30px; }

#tryBtn button {
  color: #fff;
  background-color: #266ab8;
  border-color: #1c4d83;
  padding: 15px; }
#tryBtn button:hover {
  background-color: #2ba7e7;
  border-color: #266ab8; }
#tryBtn button:active {
  background-color: #266ab8;
  padding: 15px 15px 14px !important; }
#tryBtn button {
  margin-bottom: 30px;
  font-size: 1.2em; }

#img-cta-index-bg {
  width: 100% !important;
  margin: 0 !important;
  position: absolute;
  left: 0;
  z-index: -1; }

#video-dedig img, #video-dedig video, #video-dedig iframe {
  border: 10px solid #000;
  background-color: #000; }

.content-block {
  padding-top: 30px;
  padding-bottom: 30px; }
  .content-block .text-block {
    text-align: left !important; }
    @media only screen and (max-width: 767px) {
      .content-block .text-block {
        text-align: center !important; } }
  .content-block img {
    width: 100%;
    max-width: 360px; }
  .content-block h4, .content-block h4 a {
    color: #727272; }
  .content-block h4 a:hover {
    color: #c05527; }

.sub-block {
  padding-top: 0px !important; }

.orange-block {
  /*background-color: $laranja;*/ }
  .orange-block h1, .orange-block h2, .orange-block h3, .orange-block label, .orange-block h4, .orange-block h4 a, .orange-block p {
    color: #FFF !important; }
  .orange-block h4 a:hover {
    color: #c05527 !important; }
  @media only screen and (max-width: 768px) {
    .orange-block .text-block {
      text-align: center; } }

.blue-block {
  /*background-color: $azul;*/ }
  .blue-block h1, .blue-block p, .blue-block ul {
    color: #FFF; }
  .blue-block ul, .blue-block li {
    padding: 15px;
    list-style: disc; }
    @media screen and (max-width: 768px) {
      .blue-block ul, .blue-block li {
        text-align: left; } }

.social-equipe {
  width: 38px;
  height: 38px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px; }

#mail-equipe {
  margin-left: 0;
  margin-top: 0;
  width: auto; }

#facebook-equipe {
  margin-left: -38px;
  margin-top: 0;
  width: auto; }

#twitter-equipe {
  margin-left: -76px;
  margin-top: 0;
  width: auto; }

#linkedin-equipe {
  margin-left: -114px;
  margin-top: 0;
  width: auto; }

#mail-equipe:hover {
  margin-left: 0;
  margin-top: -38px;
  width: auto; }

#facebook-equipe:hover {
  margin-left: -38px;
  margin-top: -38px;
  width: auto; }

#twitter-equipe:hover {
  margin-left: -76px;
  margin-top: -38px;
  width: auto; }

#linkedin-equipe:hover {
  margin-left: -114px;
  margin-top: -38px;
  width: auto; }

.personagem img {
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 768px) {
    .personagem img {
      width: 60%; } }
  @media only screen and (max-width: 480px) {
    .personagem img {
      width: 100%; } }

.personagem-bio {
  text-align: left;
  height: 310px; }
  @media only screen and (max-width: 992px) {
    .personagem-bio {
      height: 450px; } }
  @media only screen and (max-width: 768px) {
    .personagem-bio {
      text-align: center;
      height: auto; } }

.equipe {
  height: 600px;
  margin-bottom: 20px; }
  .equipe img {
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 992px) {
    .equipe {
      height: 630px; } }
  @media only screen and (max-width: 767px) {
    .equipe {
      width: 60%;
      margin-left: 20%; } }
  @media only screen and (max-width: 550px) {
    .equipe {
      width: 100%;
      margin-left: 0; } }

.equipe-block {
  border-bottom: 1px solid #c0c0c0; }

#erro404, #no-posts {
  height: 600px;
  padding-top: 280px; }

#entrar button {
  color: #fff;
  background-color: #266ab8;
  border-color: #1c4d83;
  padding: 20px; }
#entrar button:hover {
  background-color: #2ba7e7;
  border-color: #266ab8; }
#entrar button:active {
  background-color: #266ab8;
  padding: 20px 20px 19px !important; }
#entrar p {
  text-align: right; }
#entrar button {
  float: right; }

@media only screen and (max-width: 992px) {
  .img-block {
    padding-top: 60px; } }

@media only screen and (max-width: 768px) {
  .post-thumbnail img, .post img, .recomendacoes img {
    width: auto; } }
@media only screen and (max-width: 480px) {
  .post-thumbnail img, .post img, .recomendacoes img {
    width: 100%; } }

/* POSTS */
.posts-block {
  text-align: left;
  padding-bottom: 30px; }
  .posts-block h1 {
    padding-bottom: 15px; }

.post-thumbnail {
  text-align: left; }
  .post-thumbnail img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    max-height: 180px; }
  @media only screen and (max-width: 768px) {
    .post-thumbnail {
      text-align: center; } }

.post-block {
  border-bottom: solid #c0c0c0 1px;
  margin-bottom: 30px; }

.post {
  text-align: left;
  border-right: solid 1px #ddd;
  margin: 30px 0; }
  .post img {
    margin: 30px 0;
    height: auto; }
  @media only screen and (max-width: 768px) {
    .post {
      margin: 30px 20px 0;
      padding-bottom: 10px;
      border-right: none;
      border-bottom: solid 1px #ddd; } }

#capa img {
  width: 100%;
  height: auto; }

.recomendacoes {
  text-align: left; }
  .recomendacoes img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      .recomendacoes img {
        width: 80%; } }
    @media only screen and (max-width: 480px) {
      .recomendacoes img {
        width: 100%; } }

/* FOOTER */
#footer-menu {
  background-color: #266ab8;
  padding-top: 30px; }
  #footer-menu p, #footer-menu a {
    color: #FFF; }
  #footer-menu ul {
    padding-left: 0; }
  #footer-menu a p:hover, #footer-menu a:hover {
    color: #2ba7e7; }

.footer-item {
  padding-bottom: 30px;
  text-align: left; }
  @media only screen and (max-width: 767px) {
    .footer-item {
      text-align: center; } }

#logo-footer {
  width: 70%; }
  @media only screen and (max-width: 767px) {
    #logo-footer {
      width: auto; } }
  @media only screen and (max-width: 480px) {
    #logo-footer {
      width: 100%; } }

.social {
  width: 41px;
  height: 41px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px; }

#twitter {
  margin-left: -41px;
  margin-top: 0;
  width: auto; }

#youtube {
  margin-left: -82px;
  margin-top: 0;
  width: auto; }

#facebook:hover {
  margin-left: 0;
  margin-top: -41px;
  width: auto; }

#twitter:hover {
  margin-left: -41px;
  margin-top: -41px;
  width: auto; }

#youtube:hover {
  margin-left: -82px;
  margin-top: -41px;
  width: auto; }

#copyright {
  background-color: #1c4d83;
  padding: 15px 0; }

.pagination {
  text-align: left;
  width: 100%;
  background-color: #ddd;
  padding: 10px 34.922%; }
  .pagination a {
    display: inline-block;
    background-color: #c0c0c0;
    padding: 5px 8px;
    margin: 0 1px 1px 0;
    float: left; }
    .pagination a p {
      margin: 0; }
  .pagination a:hover {
    background-color: #266ab8; }
    .pagination a:hover p, .pagination a:hover strong {
      color: #FFF; }
  .pagination a:active {
    background-color: #1c4d83; }
    .pagination a:active p, .pagination a:active strong {
      color: #FFF; }
  @media only screen and (max-width: 992px) {
    .pagination {
      padding: 10px 30.315%; } }
  @media only screen and (max-width: 768px) {
    .pagination {
      padding: 10px 29.5%;
      background-color: #fff;
      text-align: center; } }
  @media only screen and (max-width: 700px) {
    .pagination {
      padding: 10px 20%; } }
  @media only screen and (max-width: 480px) {
    .pagination {
      padding: 10px 12%; } }

.current {
  background-color: #e07b4d; }
  .current p {
    color: #FFF; }

.current:hover, .current:active {
  background-color: #c05527; }

#jogoBtn button, #tryBtn button, #entrar button, .form input[type=submit], .login-box input[type=submit] {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

#jogoBtn button:active, #tryBtn button:active, #entrar button:active, .form input[type=submit]:active, .login-box input[type=submit]:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#jogoBtn button:focus, #tryBtn button:focus, #entrar button:focus, .form input[type=submit]:focus, .login-box input[type=submit]:focus {
  outline: none; }

.form {
  padding: 100px 0;
  text-align: left; }
  .form input, .form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: solid 1px #c05527; }
  .form input:focus, .form textarea:focus {
    outline: none;
    background-color: #eeeebb; }
  .form input[type=submit] {
    width: 34%; }
  .form input[type=submit] {
    color: #fff;
    background-color: #266ab8;
    border-color: #1c4d83;
    padding: 20px; }
  .form input[type=submit]:hover {
    background-color: #2ba7e7;
    border-color: #266ab8; }
  .form input[type=submit]:active {
    background-color: #266ab8;
    padding: 20px 20px 19px !important; }
  @media only screen and (max-width: 992px) {
    .form {
      padding: 50px 0 0; } }
  @media only screen and (max-width: 768px) {
    .form {
      text-align: center; } }

#contato-sidebar {
  padding: 100px 0; }
  #contato-sidebar img {
    padding: 30px 0; }
  #contato-sidebar h4 {
    font-size: 1.7em; }
    #contato-sidebar h4 a:hover {
      color: #c05527 !important; }
  @media only screen and (max-width: 992px) {
    #contato-sidebar {
      padding: 50px 0; } }

#jogoBtn button, #tryBtn button, #entrar button, .form input[type=submit], .login-box input[type=submit] {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

#jogoBtn button:active, #tryBtn button:active, #entrar button:active, .form input[type=submit]:active, .login-box input[type=submit]:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

#jogoBtn button:focus, #tryBtn button:focus, #entrar button:focus, .form input[type=submit]:focus, .login-box input[type=submit]:focus {
  outline: none; }

.login {
  height: auto;
  min-height: 900px; }
  @media only screen and (max-width: 768px) {
    .login {
      height: auto;
      min-height: 400px; } }

#login-bg {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  #login-bg img {
    min-height: 1110px; }

.login-box {
  background-color: #266ab8;
  margin: 127px 25%;
  border-radius: 5px;
  padding: 15px;
  width: 50%; }
  .login-box input, .login-box button {
    margin-bottom: 30px; }
  .login-box h1, .login-box label {
    color: #FFF; }
  .login-box label {
    text-align: left;
    width: 100%;
    color: #2ba7e7; }
  .login-box input {
    width: 100%;
    padding: 10px;
    border: solid 1px #1c4d83; }
  .login-box input:focus {
    outline: none;
    background-color: #eeeebb; }
  .login-box input[type=submit] {
    width: 100px; }
  .login-box input[type=submit] {
    color: #fff;
    background-color: #e07b4d;
    border-color: #c05527;
    padding: 20px; }
  .login-box input[type=submit]:hover {
    background-color: #f1a581;
    border-color: #e07b4d; }
  .login-box input[type=submit]:active {
    background-color: #e07b4d;
    padding: 20px 20px 19px !important; }
  @media only screen and (max-width: 992px) {
    .login-box {
      width: 90%;
      margin: 127px 5%; } }

/* FONTS */
h1, h2, button, h3, label, h4 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-weight: bold; }

@media only screen and (max-width: 992px) {
  h2, button, h3, label, h4, p, input, textarea {
    font-size: 1.5em; } }
@media screen and (max-width: 768px) {
  h2, button, h3, label, h4, p, input, textarea {
    font-size: 1.5em; } }

h1 {
  font-size: 2.6em;
  color: #266ab8; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 2.2em; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.2em; } }

h2, button {
  font-size: 1.8em;
  color: #e07b4d; }

h3, label {
  font-size: 1.8em;
  color: #2ba7e7; }

h4 {
  font-size: 1.8em;
  color: #FFF; }

p, input, textarea {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #727272; }

footer p {
  font-size: 1.2em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    footer p {
      font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    footer p {
      font-size: 1.5em; } }

#buttons h2 {
  font-size: 1.5em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    #buttons h2 {
      font-size: 1.3em; } }
  @media screen and (max-width: 768px) {
    #buttons h2 {
      font-size: 1.2em; } }

#cta-index h1 {
  font-size: 2em;
  color: #266ab8; }

.blue-block ul, .blue-block li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .blue-block ul, .blue-block li {
      font-size: 1.8rem; } }
  @media screen and (max-width: 768px) {
    .blue-block ul, .blue-block li {
      font-size: 1.8rem; } }

.banner h1 {
  font-size: 3rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .banner h1 {
      font-size: 2.4rem; } }
  @media screen and (max-width: 768px) {
    .banner h1 {
      font-size: 2rem; } }

.minor-text {
  font-size: 1.2rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .minor-text {
      font-size: 1rem; } }
  @media screen and (max-width: 768px) {
    .minor-text {
      font-size: 1rem; } }

.major-text {
  font-size: 2.4rem;
  color: #727272; }
  @media only screen and (max-width: 992px) {
    .major-text {
      font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .major-text {
      font-size: 2rem; } }

.content-block .skype_c2c_textarea_span img, .orange-block .skype_c2c_textarea_span img, .footer-item .skype_c2c_textarea_span img {
  display: none !important; }
.content-block .skype_c2c_textarea_span .skype_c2c_text_span:hover, .orange-block .skype_c2c_textarea_span .skype_c2c_text_span:hover, .footer-item .skype_c2c_textarea_span .skype_c2c_text_span:hover {
  text-decoration: none !important; }

.content-block .skype_c2c_textarea_span .skype_c2c_text_span {
  font-family: "Varela Round", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  color: #727272 !important; }
.content-block .skype_c2c_textarea_span .skype_c2c_text_span:hover {
  color: #c05527 !important; }

.orange-block .skype_c2c_textarea_span .skype_c2c_text_span {
  font-family: "Varela Round", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  color: #FFF !important; }
.orange-block .skype_c2c_textarea_span .skype_c2c_text_span:hover {
  color: #c05527 !important; }

.footer-item .skype_c2c_textarea_span .skype_c2c_text_span {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: normal !important;
  color: #FFF !important; }
.footer-item .skype_c2c_textarea_span .skype_c2c_text_span:hover {
  color: #2ba7e7 !important; }

#em-testes__title {
  margin-top: 100px; }

#em-testes__form {
  padding: 50px 0 190px; }

#em-testes__submit {
  float: right; }

/*# sourceMappingURL=style.css.map */
